body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0;
    color: #333;
    font-size: 14px;
}
#app {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    /* background-color: red; */
}

.v_main_layout.v-is-main {
    padding-bottom: 50px;
}
.v_main_layout {
    height: 100%;
}

.g-flex-column {
    flex-direction: column;
}

.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center, 
.g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, 
.g-flex-justify-between, .g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, 
.g-flex-wrap {
    display: flex;
}

* {
    box-sizing: border-box;
}


.v_main_layout .v-main-container {
    flex: 1;
    overflow-y: auto;
}

.v_my_center {
    background: #f5f5f5;
}

.v_my_center .v-my-center-head {
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 15px 35px 15px;
}

.v_my_center .v-my-center-head .v-my-center-head-info {
    height: 90px;
}

.g-flex-align-center {
    align-items: center;
}

.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center, 
.g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, 
.g-flex-justify-between, .g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, .g-flex-wrap {
    display: flex;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left {
    width: 100%;
}

.g-flex-align-center {
    align-items: center;
}

.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center, 
.g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, .g-flex-justify-between, 
.g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, .g-flex-wrap {
    display: flex;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-img {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

img {
    border-style: none;
}
.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-left-right {
    flex: 1;
}

.g-flex-column {
    flex-direction: column;
}

.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center, 
.g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, 
.g-flex-justify-between, .g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, .g-flex-wrap {
    display: flex;
}


.g-flex-align-center {
    align-items: center;
}

.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center, 
.g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, .g-flex-justify-between, 
.g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, .g-flex-wrap {
    display: flex;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-left-right
 .v-my-center-head-info-left-right-id .v-my-center-head-info-left-right-id-val {
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-left-right 
.v-my-center-head-info-left-right-id img {
    margin-left: 12px;
    width: 21px;
    height: 21px;
    -o-object-fit: contain;
    object-fit: contain;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-left-right 
.v-my-center-head-info-left-right-member {
    align-self: baseline;
    margin-top: 2px;
    font-size: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    /* background-color: #2f2f60; */
    padding: 2px 5px;
    border-radius: 5px;
    color: #ecbf4c;
    flex-shrink: 0;
}
.g-flex-align-center {
    align-items: center;
}
.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center, 
.g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, .g-flex-justify-between, 
.g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, .g-flex-wrap {
    display: flex;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-left .v-my-center-head-info-left-right 
.v-my-center-head-info-left-right-member img {
    width: 12px;
    height: 12px;
    -o-object-fit: contain;
    object-fit: contain;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-right {
    position: absolute;
    padding: 5px;
    right: 10px;
    top: 10px;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-right img {
    width: 22px;
    height: 22px;
    -o-object-fit: contain;
    object-fit: contain;
}

.v_my_center .v-my-center-head .v-my-center-head-info .v-my-center-head-info-right .v-msg-nums {
    position: absolute;
    background: red;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    right: 0;
    top: 0;
}

.g-flex-wrap {
    flex-wrap: wrap;
}

.g-flex-align-center {
    align-items: center;
}


.g-flex, .g-flex-align-around, .g-flex-align-between, .g-flex-align-center, .g-flex-align-end, .g-flex-align-self-center,
 .g-flex-align-self-start, .g-flex-align-start, .g-flex-column, .g-flex-column-reserve, .g-flex-justify-around, .g-flex-justify-between, 
 .g-flex-justify-center, .g-flex-justify-end, .g-flex-justify-start, .g-flex-space-between, .g-flex-wrap {
    display: flex;
}

.v_my_center .v-my-center-head .v-my-center-head-list .v-my-center-head-item-box {
    height: 70px;
    width: 25%;
}

.v_my_center .v-my-center-head .v-my-center-head-list .v-my-center-head-item-box .v-my-center-head-item {
    color: #fff;
    background-color: #ecbf4c;
}


.g-flex-column {
    flex-direction: column;
}

.v_my_center .v-my-center-head .v-my-center-head-list .v-my-center-head-item-box .v-my-center-head-item .v-my-center-head-item-val {
    font-size: 16px;
}

li, p, ul {
    margin: 0;
    padding: 0;
}

.v_my_center .v-my-center-head .v-my-center-head-list .v-my-center-head-item-box .v-my-center-head-item .v-my-center-head-item-title {
    margin-top: 4px;
    font-size: 12px;
}

.v_my_center .v-my-center-head .v-my-center-head-radius {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 18px;
    z-index: 9;
    /* background-color: #2f2f60; */
}

.v_my_center .v-my-center-head .v-my-center-head-radius img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.v_my_center .v-my-center-container {
    position: relative;
    /* background: #a72020; */
    padding: 10px 15px;
}

.v_my_center .v-my-center-container .v-my-center-order {
    background: #fff;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-top {
    padding: 12px 15px;
}

.g-flex-justify-between {
    justify-content: space-between;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-top .v-my-center-order-top-left {
    overflow: hidden;
    color: #3b4144;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-top .v-my-center-order-top-right {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-top .v-my-center-order-top-right .iconfont {
    font-size: 16px;
    line-height: 16px;
}



.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-top .v-my-center-order-top-right .iconfont {
    font-size: 16px;
    line-height: 16px;
}
.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon_arrow_right:before {
    content: "\e62f";
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom {
    padding: 15px 0;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom .v-my-center-order-bottom-item-box {
    width: 20%;
    background-color: #f5f5f5;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom .v-my-center-order-bottom-item-box .v-my-center-order-bottom-item .v-my-center-order-bottom-item-icon {
    margin-bottom: 9px;
    position: relative;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom .v-my-center-order-bottom-item-box .v-my-center-order-bottom-item .v-my-center-order-bottom-item-icon .iconfont {
    font-size: 24px;
    color: #fa436a;
}

.icon-daifukuan:before {
    content: "\e68f";
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom .v-my-center-order-bottom-item-box .v-my-center-order-bottom-item .v-my-center-order-bottom-item-icon .v-my-center-order-bottom-item-icon-num {
    top: 10px;
    right: 2px;
    transform: translateX(100%) translateY(-100%);
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    background-color: #dd524d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom .v-my-center-order-bottom-item-box .v-my-center-order-bottom-item .v-my-center-order-bottom-item-title {
    font-size: 12px;
    color: #303133;
}


.v_my_center .v-my-center-container .v-my-center-order .v-my-center-order-bottom .v-my-center-order-bottom-item-box .v-my-center-order-bottom-item .v-my-center-order-bottom-item-icon .v-my-center-order-bottom-item-icon-num {
    top: 10px;
    display: none;
    right: 2px;
    transform: translateX(100%) translateY(-100%);
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    background-color: #dd524d;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-tuikuantuihuo:before {
    content: "\e601";
}

.icon-daipingjia:before {
    content: "\e622";
}
.icon-daishouhuo:before {
    content: "\e709";
}

.icon-daifahuo:before {
    content: "\e7f6";
}


.v_my_center .v-my-center-container .v-my-center-wallet {
    background: #fff;
    margin-top: 10px;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-order-top {
    padding: 12px 15px;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-order-top .v-my-center-order-top-left {
    overflow: hidden;
    color: #3b4144;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-order-top .v-my-center-order-top-right {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-order-top .v-my-center-order-top-right .iconfont {
    font-size: 16px;
    line-height: 16px;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-wallet-bottom {
    padding: 0 0 15px 0;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-wallet-bottom .v-my-center-wallet-bottom-box {
    width: 50%;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-wallet-bottom .v-my-center-wallet-bottom-box .v-my-center-wallet-bottom-item .v-my-center-wallet-bottom-item-val {
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 5px;
}

.v_my_center .v-my-center-container .v-my-center-wallet .v-my-center-wallet-bottom .v-my-center-wallet-bottom-box .v-my-center-wallet-bottom-item .v-my-center-wallet-bottom-item-title {
    font-size: 13px;
    line-height: 16px;
}

.v_my_center .v-my-center-container .v-my-center-haibao {
    margin-top: 15px;
}

.v_my_center .v-my-center-container .v-my-center-haibao img {
    border-radius: 6px;
    width: 100%;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}
.v_my_center .v-my-center-container .v-my-center-gongju {
    background: #fff;
    margin-top: 10px;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-order-top {
    padding: 12px 15px;
}



.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-order-top .v-my-center-order-top-left {
    overflow: hidden;
    color: #3b4144;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-order-top .v-my-center-order-top-right {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-gongju-bottom .v-my-center-gongju-item-box {
    width: 25%;
    height: 75px;
    border-radius: 5px;
    font-size: 12px;
    color: #303133;
    position: relative;
    background-color: white;
    margin-top: 10px;
    text-align: center;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-gongju-bottom .v-my-center-gongju-item-box 
.v-my-center-gongju-item .v-my-center-gongju-item-img {
    position: relative;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-gongju-bottom .v-my-center-gongju-item-box .v-my-center-gongju-item .v-my-center-gongju-item-img img {
    width: 25px;
    height: 25px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 9px;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-gongju-bottom .v-my-center-gongju-item-box {
    width: 25%;
    height: 75px;
    border-radius: 5px;
    font-size: 12px;
    color: #303133;
    background-color: #fff;
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-gongju-bottom .v-my-center-gongju-item-box .v-my-center-gongju-item .v-my-center-gongju-item-img {
    position: relative;
}

.v_my_center .v-my-center-container .v-my-center-gongju .v-my-center-gongju-bottom .v-my-center-gongju-item-box .v-my-center-gongju-item .v-my-center-gongju-item-img img {
    width: 25px;
    height: 25px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 9px;
}

.g-flex-wrap {
    flex-wrap: wrap;
}




@media (min-width: 375px) {
.s_footer_layout_container.van-tabbar {
    max-width: 100%;
}
}

.s_footer_layout_container.van-tabbar {
    height: 50px;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    left: 50%;
    transform: translateX(-50%);
}

.van-tabbar--unfit {
    padding-bottom: 0;
}

.van-tabbar--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

.van-tabbar {
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 50px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #fff;
}

.s_footer_layout_container.van-tabbar .s-tab-item {
    font-size: 14px;
}

.van-tabbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #646566;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
}

.van-tabbar-item__icon {
    position: relative;
    margin-bottom: 4px;
    font-size: 22px;
}
.s_footer_layout_container.van-tabbar .s-tab-item .van-tabbar-item__icon img {
    width: 24px;
    height: 24px;
    -o-object-fit: cover;
    object-fit: cover;
}
.van-tabbar-item__icon img {
    display: block;
    
}

.s_footer_layout_container.van-tabbar .s-tab-item .s-footer-layout-title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.s_footer_layout_container.van-tabbar .s-tab-item {
    font-size: 14px;
}

.van-hairline--top-bottom:after, .van-hairline-unset--top-bottom:after {
    border-width: 1px 0;
}



.v_my_center .v-my-center-container .v-my-center-haibao img {
    border-radius: 6px;
    width: 100%;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

.v_my_center .v-my-center-container .v-my-center-haibao {
    margin-top: 15px;
}

[class*=van-hairline]:after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border: 0 solid #ebedf0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}


.van-uploader {
    position: relative;
    display: inline-block;
}

.van-uploader__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.van-uploader__upload {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 0 8px 8px 0;
    background-color: #f7f8fa;
}

.van-uploader__upload-icon {
    color: #dcdee0;
    font-size: 24px;
}
.van-icon, .van-icon:before {
    display: inline-block;
}
.van-icon {
    position: relative;
    font: normal normal normal 14px/1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.van-uploader__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input, textarea {
    color: inherit;
    font: inherit;
}

.c_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 999999;
    top: 0;
}

.c_loading .c-loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.van-loading, .van-loading__spinner {
    position: relative;
    vertical-align: middle;
}
.van-loading {
    color: #c8c9cc;
    font-size: 0;
}

.van-loading__spinner--circular {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.van-loading__spinner {
    display: inline-block;
    width: 30px;
    max-width: 100%;
    height: 30px;
    max-height: 100%;
    -webkit-animation: van-rotate .8s linear infinite;
    animation: van-rotate .8s linear infinite;
}
.van-loading, .van-loading__spinner {
    position: relative;
    vertical-align: middle;
}

.van-loading__circular {
    display: block;
    width: 100%;
    height: 100%;
}

.van-loading__circular circle {
    -webkit-animation: van-circular 1.5s ease-in-out infinite;
    animation: van-circular 1.5s ease-in-out infinite;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
}

/* circle[Attributes Style] {
    cx: 50;
    cy: 50;
    r: 20;
    fill: none;
} */


.van-toast--html, .van-toast--text {
    width: -webkit-fit-content;
    width: fit-content;
    min-width: 96px;
    min-height: 0;
    padding: 8px 12px;
}
.van-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: content-box;
    width: 88px;
    max-width: 70%;
    min-height: 88px;
    padding: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: center;
    word-break: break-all;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.van-toast--html .van-toast__text, .van-toast--text .van-toast__text {
    margin-top: 0;
}

.van-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.van-dialog {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 320px;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    border-radius: 16px;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
}

.van-dialog__content--isolated {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 104px;
}

.van-dialog__message {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    max-height: 60vh;
    padding: 26px 24px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
}

.van-dialog__cancel, .van-dialog__confirm {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 48px;
    margin: 0;
    border: 0;
}

.van-button--large {
    width: 100%;
    height: 50px;
}

.van-button--default {
    color: #323233;
    background-color: #fff;
    border: 1px solid #ebedf0;
}

.van-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 44px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input, textarea {
    color: inherit;
    font: inherit;
}

.van-button__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
}

.van-dialog__cancel, .van-dialog__confirm {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 48px;
    margin: 0;
    border: 0;
}









